<html><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lighthouse Chrome Autofill Tests</title>
</head>
<body>
  <h1>Chrome Autofill & Lighthouse Intergration Audit Test Pages</h1>

  <h2>Autocomplete Audit Test Pages</h2>
  <ul>
   <li><a href="/autocomplete-audit-no-auto"> Test Autocomplete Audit (No Autocomplete Attribute set) </a></li> 
   <li><a href="/autocomplete-audit-bad-auto"> Test Autocomplete Audit (Incorrect Autocomplete Attribute set) </a></li> 
  </ul>

<h2>Placeholder Audit Test Pages</h2>
<ul>
  <li><a href="/placeholder-audit"> Test Placeholder Audit </a></li>

 </ul>

<h2>Form Field Audit Test Pages</h2>
<ul>
  <li><a href="/"> Test Form Field Audit </a></li>
 </ul>

<a href="https://docs.google.com/document/d/1yiulNnV8uEy1jPaAEmWeHxHcQOzxpqvAV4hOFpXLJ1M/edit?usp=sharing"> Read Design Doc for Audits </a>
</body></html>