<html><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lighthouse Chrome Autofill Tests</title>
</head>
<body>
  <a href="/autocomplete-audit-no-auto"> Test Autocomplete Audit (No Autocomplete Attribute set) </a>
  <a href="/autocomplete-audit-bad-auto"> Test Autocomplete Audit (Incorrect Autocomplete Attribute set) </a>
  <a href="/placeholder-audit"> Test Placeholder Audit </a>
  <a href="/"> Test Form Field Audit </a>
  <a href="https://docs.google.com/document/d/1yiulNnV8uEy1jPaAEmWeHxHcQOzxpqvAV4hOFpXLJ1M/edit?usp=sharing"> Read Design Doc for Audits </a>

</body></html>