<html><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lighthouse Chrome Autofill Tests</title>
</head>
<body>
  <h1>Chrome Autofill & Lighthouse Intergration Audit Test Pages</h1>

  <h2>Autocomplete Audit Test Pages</h2>
  <ul>
   <li><a href="/autocomplete-audit-no-auto"> Test No Autocomplete Attribute set </a></li> 
   <li><a href="/autocomplete-audit-bad-auto"> Test Incorrect Autocomplete Attribute </a></li> 
   <li><a href="/autocomplete-audit-on-auto"> Test "on" Autocomplete Attribute </a></li> 
   <li><a href="/autocomplete-audit-off-auto"> Test "off" Autocomplete Attribute </a></li> 
   <li><a href="/autocomplete-audit-no-form-name"> Test page with Form that has no id or name attribute </a></li> 
   <li><a href="/autocomplete-audit-mixed-auto"> Test Page With All Autocomplete Attribute Types </a></li> 
   <li><a href="/autocomplete-audit-passed"> This Page Will Pass the Test </a></li> 
  </ul>

<h2>Placeholder Audit Test Pages</h2>
<ul>
  <li><a href="/placeholder-audit"> Test Placeholder Audit </a></li>
  <li><a href="/placeholder-audit-passed"> This Page Will Pass the Test </a></li> 

 </ul>

<h2>Form Field Audit Test Pages</h2>
<ul>
  <li><a href="/formfield-audit-no-credit"> Test No Credit Card Field </a></li>
  <li><a href="/formfield-audit-first-last"> Test Seperated Name Fields (Firtname Lastname) </a></li>
  <li><a href="/formfield-audit-no-cvc"> Test No CVC field</a></li>
  <li><a href="/formfield-audit-no-date"> Test No expiration date</a></li>
  <li><a href="/formfield-audit-no-name"> Test No Name Field </a></li>
  <li><a href="/formfield-audit-passed-auto"> This will pass (used autocomplete attributes) </a></li>
  <li><a href="/formfield-audit-naming-flag"> This is will raise the naming flag</a></li>
  <li><a href="/formfield-audit-passed-no-auto"> This will pass (used name attribute)</a></li>
 </ul>

 <h2>Accordion Test Page</h2>
<ul>
  <li><a href="/accordion"> Accordion Form Checkout </a></li>
  <!-- 
  <li><a href="/realistic-1800contacts"> 1-800 Contacts Checkout </a></li>
-->
</ul>
 <h2>Formless Test Pages</h2>
<ul>
  <li><a href="/formless-inputs"> Formless Address form </a></li>
  <li><a href="/LHsmokepage"> smoketest  </a></li>
 </ul>

<a href="https://docs.google.com/document/d/1yiulNnV8uEy1jPaAEmWeHxHcQOzxpqvAV4hOFpXLJ1M/edit?usp=sharing"> Read Design Doc for Audits </a>
</body></html>
